/****************** SUPPORT **************************/

h1 {
  font-size: 2.5rem;
}

h5 {
  font-weight: 900;
  color: #000;
}

.fas {
  color: #d19c97 !important;
  margin-right: 0.7rem !important;
  line-height: 1;
  display: inline-block;
}

.d-flex {
  padding: 30px;
}
