/**************************** COLLECTION *******************/
.collection {
  position: relative;
  text-align: center;
  margin-bottom: 2px;
  background-color: rgb(236, 187, 212) !important;
}

.collection-details {
  position: relative;
  z-index: 1;
}

.collection-details h5 {
  text-transform: uppercase !important;
  margin-bottom: 3px !important;
  color: peru !important;
}

.collection-details h1 {
  margin-bottom: 4px !important;
  color: black !important;
  font-weight: bold !important;
}

.collection img {
  position: absolute;
  max-width: 50%;
  max-height: 90%;
  bottom: 0;
}

.collection.text-md-right img {
  left: 0;
}

.collection.text-md-left img {
  right: 0;
}

.btn-outline {
  cursor: pointer;
  color: rgb(71, 32, 25);
  border-color: rgb(126, 28, 17);
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  font-style: 1rem;
  line-height: 1.5;
  border-radius: none;
}

.btn:hover {
  color: coral !important;
}

/* responsive */
@media screen and (max-width: 660px) {
  .collection.text-md-right .collection-details {
    text-align: right;
    position: relative;
    margin-left: 4em;
  }

  .collection.text-md-left .collection-details {
    text-align: left;
    position: relative;
    margin-left: -2.7em;
  }
}
